$body-background-color: #060816;
$sidebar-color: #050712;
$border-color: #121b2c;

$body-text-color: #d7deef;
$body-heading-color: #f2f5ff;

$link-color: #2fe7ff;
$nav-child-link-color: #aeb8d1;
$feedback-color: darken($sidebar-color, 3%);

$btn-primary-color: #2fe7ff;
$search-background-color: #060816;
$code-background-color: rgba(7,10,18,0.78);
$code-color: #f2f5ff;
$table-background-color: rgba(255,255,255,0.02);
